/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');*/

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, html {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to bottom, #737eba, #3f4667);

    position: relative;
    max-width: 1600px;
    margin: 0 auto;
}

.container {
    /*position: relative;*/
    /*max-width: 1600px;*/
    /*margin: 0 auto;*/
}

.main-header {
    position: relative;
    width: 100%;
    height: 100px;
    /*background-color: rgb(70, 77, 115);*/
    opacity: 40%;
    background-image: linear-gradient(to left, #737eba, #3f4667);
    margin-bottom: 60px;
}

.header-content__wrapper {
    position: fixed;
    height: 100px;
    /*width: 100%;*/
    max-width: 1600px;
    top: 0;
    left: 50%;
    padding: 5px;
    width: 100%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;

}

.main-logo {
    position: relative;
    width: 180px;
    height: 90px;
    padding-left: 1%;
    opacity: 1%;
    border: 2px solid rgb(233, 160, 26);
    border-radius: 5px;
}

.logo__text-3d {
    font-size: 32px;
    color: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.logo__text-3d:hover {
    transition: all 0.3s ease-in-out;
    font-size: 36px;
}


.section {
    /*background-color: #00bdea;*/
    margin: 0 0 60px 0;
    text-align: center;
    /*border: 2px solid red;*/
    overflow: hidden;
    position: relative;
    border-radius: 6px;

}

.hero {
    height: 800px;
}

.hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    /*opacity: 0.6;*/
}

.hero-content {
    text-align: center;
    position: absolute;
    padding: 190px;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hero-content h1 {
    font-size: 8rem;
    padding-left: 10px;
    margin-bottom: 50px;
    color: lightgray;
    text-decoration-line: underline;
}

.hero-content p {
    color: white;
    font-size: 2rem;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;


}

.about {
    height: 460px;
    /*position: relative;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    background-image: linear-gradient(to left, #737eba, #3f4667);
}

.about h2 {
    color: white;
    font-size: 42px;
    margin: 50px 0;
    text-transform: uppercase;
}

.about p {
    padding: 10px 190px;
    color: white;
    font-size: 22px;
    text-align: justify;
    letter-spacing: 1.3px;
}


.section-title {
    font-size: 42px;
    /*font-weight: 700;*/
    margin-top: 99px;
    text-align: center;
    letter-spacing: 1.5px;
    /*color: #ff9800;*/
}

.instruction {
    padding: 41px 0 37px 0;
    color: #ffffff;
    /*background-color: #e2e2e2;*/
    background-image: linear-gradient(to left, #737eba, #3f4667);
}

.services-navbar {
    display: flex;
    list-style: none;

    /*align-items: flex-start;*/
    justify-content: space-around;
    margin: 100px 0 100px;
}
.services-klient-auto{
    padding: 23px 100px;
    /*background: #ff9800;*/
    background-image: linear-gradient(to left, #737eba, #3f4667);
    color: #fff;
    text-decoration: none;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;

    border-radius: 6px;
    letter-spacing: 1.7px;
    display: inline-block;
    border: 3px solid #ffffff;
    /*border: 2px solid rgb(233, 160, 26);*/
}

.services-klient-people{
    padding: 23px 100px;
    /*background: #ff9800;*/
    background-image: linear-gradient(to left, #737eba, #3f4667);
    color: #fff;
    text-decoration: none;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;

    border-radius: 6px;
    letter-spacing: 1.7px;
    display: inline-block;
    border: 3px solid #ffffff;
    /*border: 2px solid rgb(233, 160, 26);*/
}


/*.part{*/
/*    cursor: pointer;*/
/*    position: relative;*/
/*}*/

.about-us-services {
    text-align: center;
}
.about-us-services {
    display: flex;
    /*justify-content: space-between;*/
    margin-bottom: 50px;
}
.instruction-title {
    color:  #ff9800;
    font-size: 22px;
    font-weight: 700;
    margin-top: 23px;
    letter-spacing: 0.8px;
    padding: 40px 46px;
}
.instruction-text {
    color: #ffffff;
    font-size: 22px;
    line-height: 22px;
    margin-top: 11px;
    padding: 0px 46px;
    letter-spacing: 0.3px;
    text-align: justify;
}



.features {
    height: 1500px;
    background-image: linear-gradient(to right, #737eba, #3f4667);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.features h2 {
    color: white;
    font-size: 42px;
    margin: 100px 0;
    text-transform: uppercase;
}

.features__items {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.features__item {
    color: white;
    width: 180px;
    height: 310px;
    border: 2px solid rgb(233, 160, 26);
    border-radius: 5px;
    margin-top: 20px;
}
.features__item-name {
    margin-top: 20px;
    margin-bottom: 20px;
}
.services-img-4{
    margin-top: 25px;
}
.services-img-3{
    margin-top: 40px;
}
.services-img-2{
    margin-top: 40px;
}
.services-img-1{
    margin-top: 40px;
}

.stack {

}

/*.footer {*/
/*    color: white;*/
/*    width: 100%;*/
/*    height: 100px;*/
/*    background-image: linear-gradient(to right, #737eba, #3f4667);*/
/*    text-align: center;*/
/*}*/

/* Landscape - телефоны */
@media (max-width: 480px) {

}

/* От ландшафтного экрана телефона до потретного планшета */
@media (max-width: 767px) {

}

/* От портретного планшета до ландшафтного экрана и настольных дисплеев */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Большой дисплей */
@media (min-width: 1200px) {

}

.footer-contacts {
    /*background-color: #2a2a2a;*/
    text-align: center;
    background-image: linear-gradient(to right, #737eba, #3f4667);
}
.footer-title {
    color: #fff;
    font-size: 42px;
    /*font-weight: 700;*/
    padding-top: 87px;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 150px;
}
.footer-email-icons {
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 15px;
}


.email-icon {
    border: 2px solid #515151;
    border-radius: 5px;
    padding: 8px 8px;
    width: 50px;
    height: 50px;
    margin-right: 50px;
    line-height: 30px;
    font-size: 22px;
}
.active-icon {
    border: 2px solid #ff9800;
}
.footer-text {
    color:  #cecece;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin: 35px 0 32px;
    letter-spacing: 0.4px;
}
.action-form {
    text-align: center;
}
.email-input {
    border: none;
    border-radius: 8px;
    background-color:  #515151;
    border: 2px solid #ff9800;
    width: 645px;
    padding: 19px 20px;
    font-size: 20px;
}
input::placeholder {
    color:  #cecece;
    font-size: 14px;
    letter-spacing: 0.8px;
}
.subscribe-btn {
    display: inline-block;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 34px;
    border: 2px solid #ff9800;
    border-radius: 8px;
    margin: 28px 0 84px;
    text-decoration: none;
    letter-spacing: 0.2px;
}



.footer {
    background-color: #515151;
}
.footer-info {
    color:  #cecece;
    font-size: 20px;
    text-align: center;
    padding: 25px 0;
    letter-spacing: 0.8px;
}

